<a href="https://colab.research.google.com/github/YouChanJUNG/-Python/blob/main/6%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = input()
print(x)

hello
hello

In [2]:
str = input("How old are you:")
print(str,'years old')

How old are you:19
19 years old

In [3]:
x = int(input('number ; '))
print(x)

number ; 123
123

In [4]:
year = input ("This year: ")
print(year)
year = eval(year)
year+=1
print("Next year: ", year)

This year: 2024
2024
Next year:  2025

In [5]:
i = 0
result = 0
while i < 5:
  a =  input("성적 입력 : ")
  result += int(a)
  i += 1

print(f'평균 : {result / 5}')

성적 입력 : 10
성적 입력 : 30
성적 입력 : 50
성적 입력 : 70
성적 입력 : 100
평균 : 52.0

In [6]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [8]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [9]:
result = 0
for a in range(1,101):
  result += a

print(result)

5050

In [10]:
index = 0
s = "BlockDMask"
for a in s :
  if a == 'k':
    break

  index+=1

print(index)

4

In [11]:
result = 0
for a in range(1,101):
  result += a

  if result > 100:
    print(a)
    break

14

In [12]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a>170:
    continue
  print(a)

170
164

In [13]:
result = 0
for a in range(1,101):
  if a % 2 == 1:
    result += a

print(result)

2500

In [14]:
a = ['Alice','Bob','Charlie']

for name in a:
  print(name)
else:
  print('!!FINISH!!')

Alice
Bob
Charlie
!!FINISH!!

In [15]:
a = ['Alice','Bob','Charlie']

for name in a:
  if name == 'Bob':
    print('!!BREAK!!')
    break
  print(name)
else:
  print('!!FINISH!!')

Alice
!!BREAK!!

In [16]:
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
  for c in s:
    if c == 'r':
      cnt += 1

print(cnt)

4

In [17]:
a = []    # 빈 리스트 생성

for i in range(10):
    a.append(0)    # append로 요소 추가

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
a = []    # 빈 리스트 생성

for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가

print(a)

[[0, 0], [0, 0], [0, 0]]

In [19]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [20]:
print(list(range(10,0,-3)))

[10, 7, 4, 1]

In [21]:
for i in range(10, 0, -3):
  print(i)

10
7
4
1

In [22]:
a = ['Alice','Bob','Charlie']

for name in a:
  print(name)

for i, name in enumerate(a):
  print(i, name)

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie